.item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: var(--spacing);
  border-bottom: 1px solid var(--sidebar-separator);
}

.info {
  display: flex;
  flex-direction: column-reverse;
}

.thumbnail {
  object-fit: cover;
  width: var(--thumb-size);
  height: var(--thumb-size);
  margin-right: var(--spacing);
  flex-shrink: 0;
}

.title {
  color: var(--sidebar-title);
  margin: 0 0 var(--spacing);
}

.author {
  margin: 0 0 calc(var(--spacing) / 2);
  padding-right: 100px;
}

.comments {
  position: absolute;
  top: 0;
  right: 0;
}
