.sidebar {
  position: fixed;
  width: 100%;
  max-width: var(--sidebar-size);
  left: 0;
  top: var(--header-size);
  bottom: var(--pagination-size);
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  padding: var(--spacing);
  overflow-x: auto;
  transform: translateX(var(--sidebar-position-when-closed));
  will-change: transform;
  transition: transform 0.2s ease-in;
}

:global .sidebar--open {
  transform: translateY(0);
}

:global .sidebar--open + .pagination {
  transform: translateY(0);
}
