.sidebar {
  position: fixed;
  width: 100%;
  max-width: var(--sidebar-size);
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  padding: var(--spacing);
  overflow-x: auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

:global .sidebar-pagination {
  cursor: pointer;
}

:global .sidebar-pagination.--disabled {
  cursor: default;
  opacity: 0.2;
}
