:root {
  --reddit-orange: #f74401;
  --main-bg: #ddd;
  --main-text: #333;
  --main-title: #000;
  --header-bg: #666;
  --header-size: 60px;
  --sidebar-size: 100vw;
  --sidebar-bg: #333;
  --sidebar-text: #ccc;
  --sidebar-text-size: 1rem;
  --sidebar-line-height: 1.2;
  --sidebar-title: #eee;
  --sidebar-separator: #555;
  --pagination-size: 50px;
  --thumb-size: 50px;
  --spacing: 10px;
}

@media screen and (min-width: 750px) {
  :root {
    --sidebar-size: min(600px, 50vw);
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --spacing: 20px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --thumb-size: 80px;
    --sidebar-text-size: 1.2rem;
    --sidebar-line-height: 1.5;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--main-bg);
  font-family: "Inter", sans-serif;
}

main {
  padding: var(--spacing);
}

ion-icon {
  color: currentColor;
}

ion-icon[title="Reddit Logo"] {
  color: white;
  background-color: var(--reddit-orange);
  font-size: 30px;
  padding: 5px;
}

ion-icon[title="Loading"] {
  animation: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 4rem;
  margin: 25vh auto;
  display: block;
}

@keyframes loading {
  0% {
    color: currentColor;
  }
  50% {
    color: var(--reddit-orange);
  }
  100% {
    color: currentColor;
  }
}
